/* Definición de variables de color */
:root {
    --color-fondo: #f4f4f4;
    --color-primario: #036F64;
    --color-secundario: #025043;
    --color-terciario: #023731;
    --color-cuaternario: #023731;
    --color-quinto: #023731;
    --color-texto: #fff;
    --color-texto-secundario: #333;
    --color-texto-terciario: #555;
    --color-borde: #ccc;
    --color-sombra: rgba(0, 0, 0, 0.1);
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
}

/* Encabezado */
header {
    display: flex;
    align-items: center;
    background-color: var(--color-primario);
    color: var(--color-texto);
    padding: 10px 20px;
    border-bottom: 2px solid var(--color-secundario);
}

header .logo button {
    width: 80px;
    height: auto;
    background-color: var(--color-primario);
    padding: 0 auto;
    border: none;
    margin: 0;
    cursor: pointer;
}

header .logo img {
    width: 80px; /* Ajusta el tamaño del logo */
    height: auto;
}

header .header-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar el título */
    margin-left: 20px;
}

header .header-buttons {
    display: flex;
    justify-content: flex-end; /* Botones a la derecha */
    flex-grow: 1;
}

header h1 {
    margin: 0;
    font-size: 24px;
    margin-left: 40%; /* Ajusta este valor según lo que necesites */
}

header .header-buttons button {
    background-color: var(--color-terciario);
    color: var(--color-texto);
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

header .header-buttons button:hover {
    background-color: var(--color-cuaternario);
}

header .user-logo img {
    width: 40px; /* Ajusta el tamaño del logotipo de usuario */
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
}

/* Barra de navegación */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Contenido del nav a la derecha */
    background-color: var(--color-secundario);
    padding: 10px 20px;
    border-bottom: 2px solid var(--color-terciario);
}

nav .nav-buttons {
    display: flex;
    margin-right: auto; /* Mueve los botones a la izquierda */
}

nav .nav-buttons button {
    background-color: var(--color-cuaternario);
    color: var(--color-texto);
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
}

nav .nav-buttons button:hover {
    background-color: var(--color-quinto);
}

nav .search-bar {
    display: flex;
    align-items: center;
    width: 300px; /* Reducir el tamaño de la barra de búsqueda */
}

nav .search-bar input {
    width: 70%;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

nav .search-bar button {
    background-color: var(--color-cuaternario);
    color: var(--color-texto);
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

nav .search-bar button:hover {
    background-color: var(--color-quinto);
}

/* Sección de publicidad */
.publicidad {
    background-color: var(--color-texto);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--color-sombra);
    text-align: center;
}

.publicidad p {
    margin: 0;
    font-size: 18px;
    color: var(--color-texto-secundario);
}

/* Pie de página */
footer {
    background-color: var(--color-primario);
    color: var(--color-texto);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}