
/* Definición de variables de color */
:root {
    --color-fondo: #f4f4f4;
    --color-primario: #036F64;
    --color-secundario: #025043;
    --color-terciario: #023731;
    --color-cuaternario: #023731;
    --color-quinto: #023731;
    --color-texto: #fff;
    --color-texto-secundario: #333;
    --color-texto-terciario: #555;
    --color-borde: #ccc;
    --color-sombra: rgba(0, 0, 0, 0.1);
}


/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Encabezado */
header {
    display: flex;
    align-items: center;
    background-color: var(--color-primario);
    color: var(--color-texto);
    padding: 10px 20px;
    border-bottom: 2px solid var(--color-secundario);
}

header .logo button {
    width: 80px;
    height: auto;
    background-color: var(--color-primario);
    padding: 0 auto;
    border: none;
    margin: 0;
    cursor: pointer;
}

header .logo img {
    width: 80px;
    height: auto;
    background-color: var(--color-primario);
}

header .header-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

header .header-buttons {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

header h1 {
    margin: 0;
    font-size: 24px;
    margin-left: 40%;
}

header .header-buttons button {
    background-color: var(--color-terciario);
    color: var(--color-texto);
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

header .header-buttons button:hover {
    background-color: var(--color-cuaternario);
}

header .user-logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
}

/* Barra de navegación */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--color-secundario);
    padding: 10px 20px;
    border-bottom: 2px solid var(--color-terciario);
}

nav .nav-buttons {
    display: flex;
    margin-right: auto;
}

nav .nav-buttons button {
    background-color: var(--color-cuaternario);
    color: var(--color-texto);
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
}

nav .nav-buttons button:hover {
    background-color: var(--color-quinto);
}

nav .search-bar {
    display: flex;
    align-items: center;
    width: 300px;
}

nav .search-bar input {
    width: 70%;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

nav .search-bar button {
    background-color: var(--color-cuaternario);
    color: var(--color-texto);
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

nav .search-bar button:hover {
    background-color: var(--color-quinto);
}

/* Contenedor principal */
main {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    gap: 20px;
}

/* Sección de publicidad */
aside.publicidad {
    width: 30%;
    background-color: var(--color-texto);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--color-sombra);
    padding: 20px;
    text-align: center;
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

aside.publicidad h2 {
    margin-top: 0;
    font-size: 20px;
    color: var(--color-texto-secundario);
}

aside.publicidad img {
    width: 75%; /* Ajusta el tamaño de la imagen al 100% del contenedor */
    height: auto;

    margin: 0;
    font-size: 16px;
    color: var(--color-texto-terciario);
}

/* Sección de registro */
.register-section {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    background-color: var(--color-texto);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--color-sombra);
    width: 800px; /* Ancho aumentado a 800px */
    text-align: center;
    margin: 0 auto; /* Centrar el contenedor */
}

.register-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--color-texto-secundario);
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center; /* Espacio entre label e input */
}

.form-group label {
    width: 100px; /* Ancho fijo para los labels */
    text-align: left; /* Alineación a la izquierda */
    font-weight: bold;
    color: var(--color-texto-terciario);
    margin-right: 20px; /* Espacio entre label e input */
}

.form-group input {
    width: 60%; /* Ancho del input */
    padding: 10px;
    border: 1px solid var(--color-borde);
    border-radius: 4px;
    font-size: 16px;
}

.form-group input[type="date"] {
    width: 60%; /* Ancho específico para el campo de fecha */
}

.register-button {
    background-color: var(--color-terciario);
    color: var(--color-texto);
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 50%;
    margin-top: 20px;
}

.register-button:hover {
    background-color: var(--color-cuaternario);
}

.register-container p {
    margin-top: 20px;
    font-size: 14px;
    color: var(--color-texto-terciario);
}

.register-container p a {
    color: var(--color-texto-terciario);
    text-decoration: none;
    font-weight: bold;
}

.register-container p a:hover {
    text-decoration: underline;
}

/* Pie de página */
footer {
    background-color: var(--color-primario);
    color: var(--color-texto);
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}